<h2>You looking for:</h2>
<input type='text' (input)='onFilterChanged($event)' />


<h1>Users</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Address</th>
            <th>User information</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let user of usersFilter">
            <td>{{user.name}}</td>
            <td>{{user.id}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address}}</td>
            <td>{{user.about}}</td>
        </tr>
    </tbody>
</table>


<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>